@model Author
@{
    ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label"></label>
        <input asp-for="ImageUrl" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Fullname" class="form-label"></label>
        <input asp-for="Fullname" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="SpecialtyName" class="form-label"></label>
        <input asp-for="SpecialtyName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control">
    </div>
    <div>
        <button class="btn btn-secondary" type="submit">Create</button>
    </div>
</form>


