@model List<Author>
@{
    ViewData["Title"] = "Home Page";
}
<section>
    <div class="hero" style="background-image: url(../../assets/images/Shadow-Fall-Background.svg);">
        <div class="text-center herotext">
            <h1>Startup Focused<br> Tailwind CSS Template</h1>
            <p>
                A Complete Tailwind CSS Web Template Crafted for -<br> Startup, SaaS, Business, Software and
                Agencies. Comes<br> with high-quality design and everything you need!
            </p>
            <button type="button" class="btn btn-primary btn-lg">Get Started</button>
            <button type="button" class="btn btn-secondary btn-lg">Learn More</button>
        </div>
    </div>
</section>
<section class="features bg-primary">
    <div class="text-center">
        <h1>Main Features</h1>
        <p>
            There are many variations of passages of Lorem Ipsum available<br> but the majority have suffered
            alteration in some form.
        </p>
    </div>
    <div class="container py-5 ">
        <div class="card-group gap-5">
            <div class="card ">
                <i class="bi bi-xbox"></i>
                <div class="card-body">
                    <h5 class="card-title">Crafted for Startups</h5>
                    <p class="card-text">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut
                        maiores.
                    </p>
                </div>
            </div>
            <div class="card ">
                <i class="bi bi-stack"></i>
                <div class="card-body">
                    <h5 class="card-title">High-quality Design</h5>
                    <p class="card-text">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut
                        maiores.
                    </p>
                </div>
            </div>
            <div class="card">
                <i class="bi bi-slack"></i>
                <div class="card-body">
                    <h5 class="card-title">All Essential Components</h5>
                    <p class="card-text">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut
                        maiores.
                    </p>
                </div>
            </div>
        </div>
        <div class="card-group gap-5  " style="padding:10px 0;">
            <div class="card">
                <i class="bi bi-gear-fill"></i>
                <div class="card-body">
                    <h5 class="card-title">Speed Optimized</h5>
                    <p class="card-text">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut
                        maiores.
                    </p>
                </div>
            </div>
            <div class="card">
                <i class="bi bi-cpu-fill"></i>
                <div class="card-body">
                    <h5 class="card-title">Fully Customizable</h5>
                    <p class="card-text">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut
                        maiores.
                    </p>
                </div>
            </div>
            <div class="card">
                <i class="bi bi-fan"></i>
                <div class="card-body">
                    <h5 class="card-title">Regular Updates</h5>
                    <p class="card-text">
                        Tuae nam ex similique incidunt expedita exerci tationem laudantium.
                        Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut
                        maiores.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ready">
    <div class="readyimage" style="background-image: url(../../assets/images/1538724811.png);">
        <div class="text-center readytext">
            <h1 style="color: white;">We are ready to help</h1>
            <p style="color:white">
                There are many variations of passages of Lorem Ipsum available <br>but the
                majority have suffered alteration in some form.
            </p>
            <img src="~/assets/images/video.jpg" alt="">
        </div>
    </div>
</section>
<section class="startup bg-primary">
    <div class="d-flex gap-5">
        <div class="left">
            <h1> Crafted for Startup, SaaS<br>and Business Sites. </h1>
            <p>
                The main ‘thrust’ is to focus on educating attendees on how to<br> best protect highly vulnerable
                business applications with<br> interactive panel discussions and roundtables.
            </p>
            <div class="d-flex gap-5">
                <div class="check1">
                    <i class="bi bi-check-circle-fill"></i><span> Premium quality</span><br>
                    <i class="bi bi-check-circle-fill"></i><span> No code required</span><br>
                    <i class="bi bi-check-circle-fill"></i><span> Use for lifetime</span>
                </div>
                <div class="check2">
                    <i class="bi bi-check-circle-fill"></i><span> Regular updates</span><br>
                    <i class="bi bi-check-circle-fill"></i><span> NRich documentation</span><br>
                    <i class="bi bi-check-circle-fill"></i><span> Developer friendly</span>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="~/assets/images/about-image.svg" alt="">
        </div>
    </div>
</section>
<section class="bug bg-primary">
    <div class="d-flex">
        <div class="left1">
            <img src="~/assets/images/about-image-2.svg" alt="">
        </div>
        <div class="right1">
            <h2>Bug free code</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.
            </p>
            <h2>Bug free code</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.
            </p>
            <h2>Bug free code</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                etdolore magna aliqua.
            </p>
        </div>
    </div>
</section>
<section class="users">
    <div class="readyimage" style="background-image: url(assets/images/1538724811.png);">
        <div class="text-center">
            <h1 style="color: white;">What Our Users Says</h1>
            <p style="color: white;">
                There are many variations of passages of Lorem Ipsum available<br> but the
                majority have suffered alteration in some form.
            </p>
        </div>
        <div class="container">
            <div class="d-flex card-group">
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="d-flex">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="card-body">
                            <!-- <h5 class="card-title">Card title</h5> -->
                            <p class="card-text">
                               @item.Description
                            </p>
                            <hr style="color: white;">
                            <div class="d-flex">
                                <img src="~/assets/images/@item.Image" style="width: 60px;height: 60px;" alt="...">
                                <div style="padding: 0 25px;color: white;">
                                    <h4>@item.Fullname</h4>
                                    <p>@item.SpecialtyName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @*<div class="card">
            <div class="d-flex gap-0">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <div class="card-body">
                <p class="card-text">
                    “Our members are so impressed. It's intuitive. It's clean. It's
                    distraction free. If you're building a community.
                </p>
                <hr style="color: white;">
                <div class="d-flex">
                    <img src="~/assets/images/author-02.png" style="width: 60px;height: 60px;" alt="...">
                    <div style="padding: 0 25px;color: white;">
                        <h4>Musharof Chy</h4>
                        <p>Founder TailGrids</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="d-flex">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <div class="card-body">
                <p class="card-text">
                    “Our members are so impressed. It's intuitive. It's clean. It's
                    distraction free. If you're building a community.
                </p>
                <hr style="color: white;">
                <div class="d-flex">
                    <img src="~/assets/images/author-03.png" style="width: 60px;height: 60px;" alt="...">
                    <div style="padding: 0 25px;color: white;">
                        <h4>Musharof Chy</h4>
                        <p>Founder TailGrids</p>
                    </div>
                </div>
            </div>
        </div>*@
            </div>
        </div>
    </div>
</section>
<section class="monthly">
    <div class="readyimage"
         style="background-image: url(../../assets/images/pngtree-blue-background-design-vol-03-image_499860.jpg);">
        <div class="text-center text-white ">
            <h1>Simple and Affordable Pricing</h1>
            <p>
                There are many variations of passages of Lorem Ipsum available but the majority have suffered
                alteration in some form.
            </p>
        </div>
        <div class="container">
            <div class="card-group">
                <div class="card">
                    <h1>$40 /mo</h1>
                    <p>
                        Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.

                        Start Fre
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                            autocomplete="off">
                        Single toggle
                    </button>
                    <hr style="color:white">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-check-circle"></i><span>All UI Components</span><br>
                            <i class="bi bi-check-circle"></i><span>All UI Components</span><br>
                            <i class="bi bi-check-circle"></i><span>All UI Components</span><br>
                            <i class="bi bi-check-circle"></i><span>All UI Components</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h1>$40 /mo</h1>
                    <p>Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.Start Fre</p>
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                            autocomplete="off">
                        Single toggle
                    </button>
                    <hr style="color:white">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-check-circle"></i><span>All UI Components</span><br>
                            <i class="bi bi-check-circle"></i><span>All UI Components</span><br>
                            <i class="bi bi-check-circle"></i><span>All UI Components</span><br>
                            <i class="bi bi-check-circle"></i><span>All UI Components</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h1>$40 /mo</h1>
                    <p>
                        Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.

                        Start Fre
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                            autocomplete="off">
                        Single toggle
                    </button>
                    <hr style="color:white">
                    <div class="card-body">
                        <div class="icon">
                            <i class="bi bi-check-circle"></i><span>All UI Components</span><br>
                            <i class="bi bi-check-circle"></i><span>All UI Components</span><br>
                            <i class="bi bi-check-circle"></i><span>All UI Components</span><br>
                            <i class="bi bi-check-circle"></i><span>All UI Components</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>